@import "./reset.css";
@import "./theme.css";
@import "./base.css";


/* 컴포넌트 */
.product-grid-wrapper{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--base-spacing);
  max-width: 2560px;
  margin-inline: auto;
  padding: var(--base-spacing);

  @media (width >= 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-wrap {
  --primary-bg-color: var(--blue-400);
  --primary-text-color: var(--white);
  --base-color: var(--black);

  --grid-col: auto;

  position: relative;
  grid-column: auto; 
  box-sizing: border-box;
  block-size: var(--size);
  padding: var(--large-spacing);
  color: var(--base-color);

  .product-name,
  .product-descript,
  .product-notice {
    text-align: center;
  }

  .product-img-wrap{
    position: absolute;
    top: 0; 
    left: 0;
    z-index: -1;
    width: 100%; 
    height: 100%;
    margin: 0;

    figure{
      width: 100%;
      height: 100%;
      background-image: var(--bg-desktop);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media (width >= 1024px) {
    grid-column: var(--grid-col);
    padding: var(--extra-large-spacing);
    br { display: none; }
  }

  @media (width <= 1024px) {
    .product-img-wrap figure{
      background-image: var(--bg-mobile);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.product-name{
  margin-block-end: var(--small-spacing);
  font-size: var(--extra-large-text);
  font-weight: 700;

  @media (width <= 1024px) {
    font-size: var(--large-text);
  }
}

.product-descript{
  font-size: var(--medium-text);
  font-weight: 500;
  line-height: var(--line-normal);

  @media (width <= 1024px) {
      font-size: var(--base-text);
  }
}

.product-notice{
  margin-block-start: var(--x-small-spacing);
  color: var(--gray);
  font-size: var(--small-text);
}

.product-btn-wrap{
  display: flex;
  flex-flow: nowrap row;
  column-gap: var(--base-spacing);
  justify-content: center;
  inline-size: auto;
  margin-block-start: var(--small-spacing);

  .product-btn{
    align-content: center;
    inline-size: fit-content; 
    padding: var(--x-small-spacing);
    border: 1px solid var(--base-color);
    border-radius: calc(var(--x-small-spacing) * 2);
    background: transparent;
    color: var(--base-color);
    text-align: center;
  }

  .product-btn:hover,
  .product-btn.fill{
    border: 1px solid var(--primary-bg-color);
    background: var(--primary-bg-color);
    color: var(--primary-text-color);
  }

  .product-btn span{
    font-size: var(--x-small-text);
    @media (width >= 1024) {
      font-size: var(--xx-small-text);
    }
  }
}

