/* 여기에 스타일을 구현해 주세요 */
* {
  box-sizing: border-box;
}

/* 접근성 - 사운드 */
.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
}

/* 그리드 템플릿 */
.avatar-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 64px); 
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
}

/* 사진 부분 */
.avatar-wrapper .avatar-item{
  position: relative;
  width: 64px;
  height: 64px;
}

.avatar-item figure{
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.avatar-item img{
  display: block;
  width: 100%; height: 100%;
  object-fit: cover;
}

/* 온라인 상태 */
.avatar-status{
  display: block;
  position: absolute; 
  right: -2px;
  bottom: -2px;
  width: 18px; 
  height: 18px;
  border: 2px solid #fff;
  background: #ddd;
  border-radius: 50%;
}

.avatar-status.online{
  background: limegreen;
}