/* 접근성 관련 CSS */
.sr-only{
  display: block;
  position: absolute;
  overflow: hidden; 
  width: 1px; 
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  border-width: 0;
  clip-path: inset(50%);
}